:host {
  display: block;
  height: calc(100vh - 96px);
}

.profile-wrapper {
  margin: auto;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

h2 {
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.logout-button {
  display: block;
  text-align: center;
}
